################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/p2p-DistributedFileTranfr/.vs/p2p-DistributedFileTranfr/v17
