################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/p2p-DistributedFileTranfr/.vs/p2p-DistributedFileTranfr/v17
/p2p-DistributedFileTranfr/.vs/p2p-DistributedFileTransfer
/p2p-DistributedFileTranfr/p2p/bin/Debug/net8.0
/p2p-DistributedFileTranfr/p2p/obj
